.project_img_container img {
    width: 100%;
}
.project_img_container {
    height: 350px;
    width: 350px;
}

.project_infodetail_container {
    width: 70%;
}

.project_info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 6px;
    margin: 20px 90px;
}

.project_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 50%;
  border-radius: 6px;
  margin: 20px 90px;
}
.project_title_container h2 {
  color: var(--color-font-secondary);
}

.project_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 1rem;
  border-radius: 6px;
  margin: 20px 90px;
}

.project_content_container h4 {
    color: var(--color-font-secondary);
}

.video-responsive {
  padding-top: 10px;
}