.navegador {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.navegador {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  font-weight: bolder;
}

.control-li {
  margin: 8px;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  font-weight: bolder;
  font-weight: bolder;
}

.generalinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 40%;
}

.secondaryinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  height: 40%;
}

h1 {
  justify-content: center;
}

.typeinfo {
  width: 20%;
  margin: 30px;
}

.generalinfo-image {
  width: 30%;
  margin: 30px;
}
.generalinfo-image img {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
.generalinfo-image h2 {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.generalinfo-image h1 {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.generalinfo-info {
  width: 50%;
}
